<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>PERFIL Y HABILIDADES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="root">
    <div id="title">
      <h1><strong>Hoja de vida</strong></h1>
    </div>
    <div id="main">
      <h1><strong>PERFIL</strong></h1>
      <p>
        Soy un estudiante que se encuntra cursando el cuarto semestre de la
        carrera de Tecnología Superior en Desarrollo de Software de la Escuela
        Politécnica Nacional, soy creyente de que las tecnologías informáticas
        son la puerta hacia el avance de la humanidad, a parte tengo afición por
        la ciberseguridad y la programación de insterfaces web.
      </p>
      <h1><strong>HABILIDADES:</strong></h1>
      <p></p>
      <ul>
        <li>Trabajo de forma coperativa</li>
        <li>
          Experiencia en uso de metodologías ágiles de desarollo como XP y
          marcos de trabajo ágiles como SCRUM
        </li>
        <li>Capacidad de trabajo bajo presión y de forma organizada</li>
        <li>
          Conocimiento de programación estructurada en los lenguajes: C++, Java,
          JavaScript, Html, Python y Php, además de manejo de bases de datos SQL
          y NoSQL
        </li>
        <li>Uso de frameworks como ionic, react, angular</li>
        <li>Capacidad de adaptación a los cambios</li>
        <li>Pensamiento crítico y creativo</li>
      </ul>
    </div>
  </div>
</ion-content>
