<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> CURRICULUM VITAE GR </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="root">
    <div id="title">
      <h1><strong>Hoja de vida</strong></h1>
    </div>
    <div id="main">
      <img src="assets/img/Perfil.jpg" alt="Foto_GR" />
      <p>Información personal:</p>
      <br />
      <div id="description">
        <p><strong>NOMBRES: </strong>Guillermo Alexander</p>
        <p><strong>APELLIDOS: </strong>Rivera Guerrero</p>
        <p><strong>FECHA DE NACIMIENTO: </strong>22de octubre de 1999</p>
        <p>
          <strong>LUGAR DE NACIMIENTO: </strong>Sto. Domingo de los Colorados
        </p>
        <p><strong>EDAD: </strong>21 años</p>
        <p><strong>CÉDULA DE IDENTIDAD: </strong>1721949285</p>
        <p><strong>EMAIL: </strong>riveraguillermo964@gmail.com</p>
        <p><strong>NACIONALIDAD: </strong>ecuatoriano</p>
        <p><strong>TIPO DE SANGRE: </strong>ORH +</p>
        <p><strong>ESTADO CIVIL: </strong>Soltero</p>
        <p>
          <strong>DIRECCIÓN: </strong>Monjas Jardín del Valle - Buenos Aires -
          Calle I, Quito - Ecuador
        </p>
        <p><strong>TELÉFONO CELULAR: </strong>0960625886</p>
        <p><strong>TELÉFONO CONVENCIONAL: </strong>4516388</p>
      </div>
    </div>
    <div id="buttons">
      <ion-buttons>
        <ion-button routerLink="/perfil" color="danger" size="small"
          >PERFIL Y HABILIDADES</ion-button
        >
        <br />
        <ion-button routerLink="/education" color="danger" size="small"
          >EDUCACIÓN</ion-button
        ><br />
        <ion-button routerLink="/references" color="danger" size="small"
          >REFERENCIAS</ion-button
        ></ion-buttons
      >
    </div>
  </div>
</ion-content>
